@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Americana";
    src: url("./assets/fonts/Americana.ttf");
}


/* * {
    font-family: "Americana";
    text-transform: uppercase;
} */


/* --------- */


/*  Preloader */


/* --------- */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #0c0513;
    background-image: url(./assets/images/rings.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#preloader-none {
    opacity: 0;
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}